/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

/* ===== MODO ACCESIBILIDAD - TEXTO GRANDE ===== */

body.large-text {
  font-size: 18px;
}

body.large-text ion-title {
  font-size: 20px;
}

body.large-text ion-card-title {
  font-size: 20px;
}

body.large-text ion-card-subtitle,
body.large-text ion-label,
body.large-text p,
body.large-text ion-text {
  font-size: 18px;
}

body.large-text ion-button {
  height: 56px;
  font-size: 18px;
}

body.large-text ion-segment-button ion-label {
  font-size: 18px;
  font-weight: 700;
}

body.high-contrast {
  --ion-background-color: #000 !important;
  --ion-text-color: #fff !important;
}

body.high-contrast ion-card {
  border: 1px solid #fff;
}

body.high-contrast ion-item {
  --background: #000;
}

