<ion-content class="ion-padding">
  <h1>Smart Mirror - Auth</h1>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="displayName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input [(ngModel)]="email" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-button expand="block" (click)="onRegister()">Registrarse</ion-button>
  <ion-button expand="block" (click)="onLogin()">Login</ion-button>
  <ion-button expand="block" color="medium" (click)="onLogout()">Logout</ion-button>

  <ion-button expand="block" (click)="setupPush()">
  Activar Notificaciones (FCM)
</ion-button>

<ion-button expand="block" (click)="testPushFromBackend()">
  🔔 Probar Push (Backend)
</ion-button>

</ion-content>
